
  
/* .badge {
  padding: 2px 8px;
  border-radius: 6px;
  background-color: #222;
  font-weight: bold;
}

.badge-primary {
  background-color: #36b;
  color: white;
}

.badge-secondary {
  background-color: #666;
  color: white;
}

.badge-warning {
  background-color: #db0;
  color: black;
}

.btn {
  padding: 4px 8px;
  border-radius: 3px;
  cursor: pointer;
  background-color: #222;
  color: white;
  border: none;
  margin-left: 3px;
}

.btn-secondary {
  background-color: #666;
}

.btn-danger {
  background-color: #d33;
} */
  