.nav-container{
    height: 40px;
    background-color: #ccd;
    z-index: 700;
}

.appName a{
    text-decoration: none !important;
    color: black;
}

.appName a:hover{
    color: #6b6be2;
}

.links li a:hover{
    text-decoration: underline;
    color: #6b6be2;
}