.main-container{
  border-top: 1px solid black;
}

.header{
  position: fixed;
  width: 100%;
  z-index: 500;
}


main {
  padding: 50px 0px;
}

/* div.grid1200 {
  width: 1200px;
  margin: 0px auto;
} */

header {
  height: 80px;
  background-color: #eef;
}
